<div class="card">
    <h2 class="card-header flex-row">
      <a>{{title}}</a>
      <!--need to access the username property through the User object-->
      <p>Posted by {{user.username}} on {{format_date date_posted}}</p>
    </h2>
    <div class="card-body">
      <p>
        {{content}}
      </p>
    </div>
</div>

<div class="card">
  <h2 class="card-header" id="comment-header"></h2>
  <!--the form-->
  <div class="card-body">
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-input">Comment</label>
        <textarea name="comment-input" id="comment-input" type="text" autofocus="true" class="form-input">
        </textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">submit!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>