<div class="card">
  <!--the header-->
  <h2 class="card-header">
    Signup
  </h2>
  <!--the form-->
  <form class="card-body form signup-form">
    <div class="form-group">
      <label for="username-signup">Username</label>
      <input name="username-signup" id="username-signup" type="text" autofocus="true" class="form-input" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password</label>
      <input name="password-signup" id="password-signup" type="password" class="form-input" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn">Signup!</button>
    </div>
  </form>
  <!--the login link-->
  <a href="/api/users/login">Login instead</a>
</div>

<script src="./js/logout.js"></script>